/* ====== Univerals ====== */

/*Font Import*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family:'Open-Sans', sans-serif;
}
::-webkit-scrollbar {
	height:5px;
	width:5px;
}
::-webkit-scrollbar-track {
	background:#000;

}
::-webkit-scrollbar-thumb {
	border-radius:25px;
	background:rgba(0, 250, 154);

}
::-webkit-scrollbar-thumb:hover {
	border-radius:5px;
	background:rgba(0, 250, 154);
	opacity:0.8;
}
html{
	scroll-behavior:smooth;
}
.section{
	width:100%;
	height:auto;
}
#top{
	position:fixed;
	bottom:30px;
	right:22px;
	padding:5px;
	cursor:pointer;
	z-index:1;
	border:1px solid rgba(0, 250, 154, 0.6);
	border-radius:0px 5px 5px 0px;
}
#socials{
	position:fixed;
	bottom:15px;
	left:20px;
	list-style:none;
	cursor:pointer;
	z-index:2;
}
#hamburger-div{
	position:fixed;
	top:20px;
	right:15px;
	z-index:20;
	cursor:pointer;
}
#hamburger{
	width:20px;
	height:2px;
	color:#fff;
	background-color:rgba(0, 250, 154, 0.6);
	margin:20px 0px;
	position:relative;
	cursor:pointer;
}
#hamburger::before, #hamburger::after{
	position:absolute;
	left:0px;
	content:"";
	width:80%;
	height:100%;
	background-color:rgba(0, 250, 154, 0.6);
}
#hamburger::before{
	top:-9px;
}
#hamburger::after{
	top:9px;
}
/* ====== home section ====== */
#home{
	background-image:url('../images/g2.jpg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	width:100%;
	height:100vh;
	color:rgba(0, 250, 154, 0.6);
	position:relative;
}
#home::before{
	position:absolute;
	background-color:rgba(0, 0, 0, 0.7);
	width:100%;
	height:100%;
	content : "";
	left:0px;
	top:0px;
}
.nav-link{
	background: rgba(0, 0, 0, 0.5);
	padding:0.2rem 0.7rem;
}
.dropdown-menu{
	background-color:#333;
	border:1px solid rgba(0, 250, 154, 0.6);
}
.dropdown-item{
	/* color:rgba(0, 250, 154, 0.6); */
	color:#fff;
}
.dropdown-item:hover{
	background:#333;
	color:#fff;
}
.text-content{
	padding: 15px 30px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-45%);
	letter-spacing: 3px;
	font-size: 1.2rem;
}
.carousel-item h3{
	font-size:3.0rem;
	text-shadow:3px 3px #000;
}
.display a{
	text-align:center;
	border:1px solid rgba(0, 250, 154, 0.6);
	border-radius:5px;
	padding:10px;
	letter-spacing:unset;
	text-decoration:none;
	color:#fff;
	background-image:linear-gradient(to right, rgba(0, 250, 154, 0.2), #222);
}
.display a:hover{
	background-color:rgba(0, 250, 154, 0.6);
	background-image:linear-gradient(to right, rgba(0, 250, 154, 0.2), rgba(0, 250, 154, 0.2));
	
}

/* /home section */

/* ====== about Section ====== */
#holder-box{
	width:80%;
	margin:auto;
}
#image-box{
	height: 350px;
	/* height: 383px; */
    width: 290px;
    border: 5px solid slateblue;
    margin: auto;
	overflow:hidden;
	/* position:relative; */
}
/* #image-box::before{ */
	/* position:absolute; */
	/* background-color:rgba(0, 250, 154, 0.4); */
	/* width:70%; */
	/* height:80%; */
	/* content : ""; */
	/* left:-50px; */
	/* top:-30px; */
	/* z-index:-3; */
/* } */
#header-box{
	border:2px solid #000;
	width:100%;
}
/* /about section */


/* ====== services page ====== */
#services{
	background-image:url('../images/g1.jpg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	width:100%;
	position:relative;
}
#services::before{
	position:absolute;
	background-color:rgba(0, 0, 0, 0.5);
	width:100%;
	height:100%;
	content : "";
	left:0px;
	top:0px;
	/* -webkit-filter:blur(5px); */
	/* -moz-filter:blur(5px); */
	/* -o-filter:blur(5px); */
	/* -ms-filter:blur(5px); */
	/* filter:blur(5px); */
}
.i-fa{
	width: 150px;
    height: 60px;
	color:rgba(0, 250, 154, 0.6);
    background-color: #222;
    display: flex;
    justify-content: center;
	align-items: center;
    border-radius: 5px;
    margin: auto;
	font-size:1.25rem;
}
#services h3{
	margin-top:0.5rem;
}
/* /services page */


/* ====== portfolio page ====== */
#portfolio{
	background-color:#222;
	min-height:100vh;
}
/* Pagination */
#pagination{
	list-style-type:none;
	display:flex;
	justify-content:center;
	align-items:center;
	height:10px;
}
#pagination li{
	width:15px;
	height:5px;
	background-color:white;
	margin:5px;
	cursor:pointer;
	position:relative;
	z-index:1;
}
#pagination .active2{
	border-radius:50%;
	width:15px;
	height:15px;

}
/* Project Image slider */
#portfolio-inner{
	width:100%;
	height:400px;
	margin:0 auto;
	overflow:hidden;
}
#image-slider{
	display:block;
	list-style-type:none;
	width:1500%;
	padding-left:20%;
	height:auto;
	margin-top:20px;
	padding:0px;
	position:relative;
	z-index:1;
	overflow:hidden;
	transition:transform 2s;
}
.imgdiv{
	width:500px;
	height:300px;
	float:left;
	margin-right:150px!important;
	border-radius:15px;
	cursor:pointer;
	overflow:hidden;
	position:relative;
}
.imgdiv::before{
	position:absolute;
	background-color:rgba(0, 0, 0, 0.2);
	width:100%;
	height:100%;
	content : "";
	left:0px;
}

/* Project Call to action slider */
#action{
	width:230px;
	height:50px;
	position:absolute;
	bottom:10px;
	left:100px;
	overflow:hidden;
	transform:scale(0.8);
}
#action ul{
	list-style-type:none;
	width:200px;
	height:auto;
	padding:0px;
	transform:translateY(-8px);
	transition:transform 2s;
}
#action ul li{
	width:230px;
	height:40px;
	margin-right:50px!important;
	border-radius:15px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:10px;
	margin:10px 0px;
}
#action ul li a{
	border: 1px solid rgba(0, 250, 154, 0.6);
	border-radius:4px;
	padding:5px;
	color:#fff;
	text-decoration:none;
	width:95px;
	height:40px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#action ul li a:hover{
	background-color:rgba(0, 250, 154, 0.6);
}

/* Project Numbering Slider */
#num_count{
	width:100px;
	height:100px;
	position:absolute;
	top:-3px;
	left:60px;
	overflow:hidden;
}
#num_count ul{
	list-style-type:none;
	width:400%;
	height:auto;
	transition:transform 2s;
}
#num_count ul li{
	width:25%;
	height:100px;
	float:left;
	font-weight:bold;
	color:rgba(0, 250, 154, 0.2);
}
/* Project Title Slider */
#title{
	width:300px;
	height:70px;
	position:absolute;
	top:45%;
	left:50px;
	overflow:hidden;
	z-index:2;
}
#title ul{
	list-style-type:none;
	width:100%;
	height:auto;
	padding:0px;
	transition:transform 2s;
}
#title ul li{
	width:100%;
	height:70px;
	border-radius:15px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:10px;
	color:#fff;
	margin-bottom:10px;
}
#title ul li h3{
	text-shadow: 4px 5px black;
	margin:0px !important;
}
/* /portfolio page */


/* ====== contact page ====== */
.jumbotron{
	/* background-color:rgba(0, 250, 154, 0.6); */
	background-color:#f2f6f8;
	/* background-image:linear-gradient(to bottom right, rgba(0, 250, 154, 0.8), #222); */
	/* background-image:linear-gradient(#222, #fff); */
}

#contact ul{
	list-style-type:none;
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	text-align: center;
}
#contact ul li{
	width:100%;
	height:auto;
}
#contact ul li a{
	font-size:0.6em;
	color:#444;
	text-align:center;
	/* padding-left:15px; */
}
#contact ul li a:hover{
	text-decoration:none;
}
/* /contact page */


/* ====== Media Queries ====== */

@media screen and (max-width: 1100px){
	.carousel-item h3{
		font-size:2.5rem;
	}
	#holder-box{
		width:100%;
	}
	#contact ul{
		flex-wrap: wrap;
		
	}
	#containertop{
		overflow:hidden;
	}
}
@media screen and (max-width: 435px){
	.display a{
		display:block;
		margin:auto;
		width:70%;
	}
	.carousel-item{
		height:75px;
	}
	.carousel-item h3{
		font-size:1.75rem;
	}
	.hx{
		padding-top:15px;
	}
	.i-fa{
		width:100%;
		height:50px;
	}
	#services h3{
		text-align:center;
	}
	#services p{
		text-align:justify;
	}
}